*.pfx
*.pem
*.p12
vpng-logineer-tunnel/

profileinfo.txt
*.log
*.zip

.Xauthority
.cache/
.config/Pinta/
.config/dconf/
.config/go/
.config/yay/
.dotfiles/
.dotnet/
.gnupg/
.local/
.npm/
.nuget/
.oh-my-zsh/
.pki/
.xsession-errors
Downloads/
cargonerds/
dotnet-install.sh
dotnet-tools.json
source/
tmpfiles.d
.config/YouTube Music Desktop App/
.config/pavucontrol.ini
.config/pulse/
.config/systemd/
.node_repl_history
.yarn/
.python_history
.abp
.aspnet
.config/JetBrains
.config/autostart
.config/mimeapps.list
.config/teams-for-linux
.dcp
.java
.microsoft
.ssh
.templateengine
.yarnrc
baloofileinformationrc
.claude.json
.claude.json.backup
.claude/
.config/vpnconfig/
