button{
    border-radius: 100%;
    border:0;
    opacity:1;
    min-height:16px;
    min-width:16px;
    padding:5px;
    margin-left:6px;
    background-image:unset;
}

menubutton.popup{
    padding: 0;
    margin: 0;
    border:0;
    background-size:0;
}

menubutton.popup>button.image-button{
    background-color:#444444;
    border:0;
    opacity:1;
    outline:0;
    outline-offset:0;
    background-image:unset;
}

menubutton.popup>button.image-button>box.horizontal{
    background-color:#444444;
    border-radius:100%;
    border:0;
    margin:0;
    padding:0;
}

windowcontrols.end{
    -gtk-icon-size:0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
    background-size:0;
}

windowcontrols.end>button{
    -gtk-icon-size:0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
    background-size:0;
}

widget.end-action>box>button.image-button{
    -gtk-icon-size:0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
    background-size:0;
}

widget.end-action{
    padding-top:4px;
    padding-bottom:4px;
}

widget.start-action>box>splitbutton>separator{
    opacity:0;
}
tabbox>separator{
    opacity:0;
}
/* widget.start-action{ */
/*     padding-top:4px; */
/*     padding-bottom:4px; */
/* } */

tabboxchild{
    background-color:#444444;
    border-radius:8px;
}

tabboxchild>tab>button{
    margin-right:4px
}
